<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AOI - avangardowe organizowanie imprez</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>

<section>
    <nav>
        <ul>
            <li><div></div><a href="event.html">Lista wydarzeń</a></div> </li>
            <li><div></div><a href="login.html">Zaloguj się</a></div> </li>
            <li><div><a href="add-or-edit-user.html">Rejestracja</a></div> </li>
            <li><div sec:authorize="hasRole('ADMIN')"><a href="#">Dodaj wydarzenie</a> </div></li>
            <li><div sec:authorize="isAuthenticated()"><a href="#">Twoje punkty programu</a> </div></li>
            <li><div><a href="home.html">Wróć</a></div> </li>
        </ul>
    </nav>

    <article>
        <h1>Główna</h1>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </article>
</section>

</body>
</html>